* {
    color: black;
    font-family: "Reddit Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

nav {
    background-color: #5AB2FF;
    position: sticky;
    top: 0;
    z-index: 1000;
}

body, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.logo {
    height: 80px;
    margin-top: 10px;
    margin-left: 20px;
    padding: 0;
    border-radius: 25px;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.li1 {
    margin-top: 34px;
    margin-left: 700px;
}

.li2, .li3 {
    margin-top: 34px;
    margin-left: 30px;
}

.li1 a:hover, .li2 a:hover, .li3 a:hover {
    background-color: #FFA62F;
    color: white;
    padding: 14px 20px;
    border-radius: 4px;
}
